.post-container {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.post-content {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.post-comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.post-comment-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
.post-comment-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-comment-button:hover {
    background-color: #218838;
}


.post-like-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.post-like-button:hover {
    background-color: #0056b3;
}

.post-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.post-comment {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;;
}

