.navbar {
    background-color: #333;
    padding: 1rem;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.navbar-item {
    margin: 0px 1rem;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: red
}